<body class="president-game">
    <div id="president-container">
        <h1 id="president-heading">PRESIDENT MEMORY</h1>
        <div class="card unmatched"></div>
        <div class="card unmatched"></div>
        <div class="card unmatched"></div>
        <div class="card unmatched"></div>
        <div class="card unmatched"></div>
        <h1 id="president-victory" style="display: none;">AMERICA!</h1>
        <div class="card unmatched"></div>
        <div class="card unmatched"></div>
        <div class="card unmatched"></div>
        <div class="card unmatched"></div>
        <div class="card unmatched"></div>
        <div class="card unmatched"></div>
        <div class="card unmatched"></div>
    </div>
</body>